.btn{
  border-radius: 0;
}
.btn-primary {
     background-color: $primary;
     border-color: $primary;
     &:hover {
       background-color: $priamry-overlay;
       border-color: $priamry-overlay;
     }
   }

.text-primary {
  color: $primary !important;
}
.border-primary {
  border-radius: 0;
  border-color: $primary !important;
}
.bg-primary {
  background-color: $primary !important;
}